<mat-form-field>
  <input 
    matInput 
    placeholder="Search Tracks" 
    type="text"
    #searchInput
    name="searchInput">
</mat-form-field>

<!--
<div class="col-3" *ngFor="let track of tracks"> 
  <div class="card" style="margin:5px;">
      <img class="card-img-top" src="{{track.artwork_url}}">
      <div class="card-body">
          <h5 class="card-title">{{track.title}}</h5>
          <h5 class="card-title">{{track.user.username}}</h5>
      </div>
  </div>
</div>
-->

<div class="col-3" *ngFor="let track of tracks"> 
  <mat-card class="track-card">

    <mat-card-content class="track-content">
      <img mat-card-avatar class="track-avatar" src="{{track.artwork_url}}">
      <mat-card-title class="track-font">{{track.title}}</mat-card-title>
      <mat-card-subtitle>{{track.user.username}}</mat-card-subtitle>
        
      <mat-card-header class="track-actions">
        <button type="button" mat-raised-button color="warn" style="margin-bottom: 10px;" (click)="searchService.playTrack(track.id)">PLAY</button>
        <br>
        <button mat-raised-button color="primary">ADD</button>
      </mat-card-header>
      
    </mat-card-content>
  </mat-card>
</div>



