.mat-list {
    width: 80%;
    position: relative;
}

#play {
    width: 95%;
}

iframe {
    opacity: 0;
    visibility: hidden;
  }

@media (max-width: 767px) {
    .track-avatar {
        display: none;
    }

    #remove {
        height: 50%;
        min-width: 15%;
        padding: 0px;
    }

    #remove:after {
        content: "-";
    }
}

@media (min-width: 768px) {
    
    #remove {
        height: 50%;
        min-width: 15%;
        padding: 0px;
    }

    #remove:after {
        content: "REMOVE";
    }
}